{% extends 'core/base.html' %}

    {% block title %}
      Tienda
    {% endblock %}
    
    {% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'core/'%}css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {% endblock %}

    {% block javaScri %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {% endblock %}

{% block body %} 

      <div class="informacion">
        <div class="card mb-3" style="background-color: #b292ee">
            <img src="{% static 'core/'%}img/Luis-Jara-1200x630.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Luis Jara - Cantante</h5>
              <center>
              <p class="card-text"> El autor de "Un Golpe de Suerte y "Mañana" nació un 25 de octubre de 1965 (50 años). Comenzó su incursión en la TV como parte del Clan Infantil del programa "Sábados Gigantes". Luego tuvo apariciones como actor en las teleseries "De Cara al Mañana" (TVN - 1982) y "Los Títeres" (Canal 13 - 1984).

                En 1985 ganó un festival estelar del programa "Martes 13" con su single "Ámame", lo que significó el puntapie inicial de una trayectoria llena de éxitos.
                
                Como cantante ha lanzado 13 discos de estudio y ha ganado ganado tres Gaviotas de Plata; tres Antorchas; seis Discos de Oro; cuatro Discos de Platino; siete premios APES; Micrófono de Oro en Scheveningen (Holanda); Mejor Intérprete del Festival de Indonesia; Primer Lugar del Festival de Egipto; Primer Lugar del Festival de Curazao, Primer Lugar del Festival de Buga (Colombia).
                
                Su carrera como animador se inició en 1995 con "¿Cuánto Vale el Show?" (Chilevisión). Luego condujo "De Aquí No Sale" (1996-2001) y "Calor Humano" (2000-2002) en la misma estación televisiva.
                
                Luego llegó a Canal 13, donde animó estelares como "La Movida del Festival", "Vértigo" (2003-2008), "Mucho Lucho" (2003-2006) y "Juntos, el Show de la Mañana" (2007-2008).
                
                Actualmente es rostro de Mega, donde ha animado "Un golpe de Lucho" (2009), "Morandé con Compañía" (2009-2011), "Elígeme" (2010-2011), "Yo Soy" (2011-2012), "Coliseo Romano" (2011), "Tu Cara Me Suena" (2012), "Salta a la Vista" (2012) y el matinal "Mucho Gusto" (desde 2013).</p>
              <p class="card-text">
            </center>
                
            </div>
          </div>
      </div>

{% endblock %}